/* components/Header/Header.module.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  position: relative;
  box-shadow: 0 4px 12px 0 rgba(19, 22, 39, 0.12);
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLogo {
  fill: var(--base-danger);
}

.phoneNumber {
  display: none;
}

.headerActions {
  display: flex;
  align-items: center;
}

.headerMenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  transition: transform 0.3s ease;
}

.headerMenuBtn:hover,
.headerMenuBtn:focus {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 16px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 16px 60px;
  }

  .logoLink {
    margin-right: 42px;
  }

  .phoneNumber {
    display: block;
    font-weight: 500;
    font-size: 18px;
  }

  .headerMenuBtn {
    display: none;
  }
}
