.navigation {
  display: none;
}

.navigationList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .navigation {
    display: flex;
    margin-right: 42px;
    flex: 1;
  }
}
