.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownBtn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 8px;

  font-weight: 500;
  font-size: 18px;

  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.dropdownBtn:hover,
.dropdownBtn:focus {
  color: var(--base-danger);
  transform: scale(1.05);
}

.dropdownBtn:active {
  color: var(--base-danger-darker);
}

.dropdownBtnIcon {
  fill: currentColor;
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

.selected {
  color: var(--base-danger);
}

.selected::after {
  position: absolute;
  left: 0;
  bottom: 12px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--base-danger);
}

.dropdownList {
  position: absolute;
  top: 100%;
  right: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translatey(-10px);

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;

  z-index: 1000;
}

.open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translatey(0);
}
